@font-face {
  font-family: 'SUIT SemiBold';
  src: url('/public/fonts/SUIT-SemiBold.otf') format('opentype');
}

@font-face {
  font-family: 'SUIT Regular';
  src: url('/public/fonts/SUIT-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'SUIT Medium';
  src: url('/public/fonts/SUIT-Medium.otf') format('opentype');
}
