* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --main-color: #FBB755;
    --text-color: #282A29;
    color: var(--text-color);
}

.main-content {
    padding-top: 80px; /* Header의 높이만큼 상단 여백을 줌 */
    padding-bottom: 100px; /* Footer의 높이만큼 하단 여백을 줌 */
    overflow-y: auto; /* 내용이 넘칠 경우 스크롤 생성 */
}

.mypage-container {
    width: 1200px;
    min-height: 400px;
    height: 100%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
}

.title {
    height: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-family: 'SUIT SemiBold', sans-serif;
}

.profile-top {
    width: calc(100% - 40px);
    height: 200px;
    margin: 0 auto;
    border: 2px solid var(--main-color);
    border-radius: 12px;
    display: flex;
    align-items: center;
}

.profile-box {
    position: relative;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--main-color);
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-family: 'SUIT Regular', sans-serif;
    z-index: 10;
}

.profile-pic-update-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: var(--main-color);
    border-radius: 50%;
    border: 1.5px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic-update-btn img {
    width: 30px;
    height: 30px;
}

.profile-text {
    margin-left: 37px;
}

.profile-nickname,
.profile-intro {
    font-family: 'SUIT Regular', sans-serif;
}

.profile-nickname {
    font-size: 24px;
    line-height: 50px;
}

.profile-intro {
    font-size: 16px;
    line-height: 50px;
}

.manner-box {
    margin-left: auto;
    margin-right: 60px;
    display: flex;
    align-items: center;
}

.manner-box img {
    width: 50px;
    height: 50px;
}

.manner-text {
    font-family: 'SUIT Regular', sans-serif;
    font-size: 20px;
    text-align: center;
}

.mypage-main-container {
    width: calc(100% - 40px);
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.mypage-category {
    width: 250px;
    height: 617px;
    background-color: white;
    border: 2px solid var(--main-color);
    border-radius: 12px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

.category-main {
    font-family: 'SUIT Semibold', sans-serif;
    font-size: 20px;
    margin-top: 40px;
    cursor: pointer;
}

.category-sub {
    font-family: 'SUIT Regular', sans-serif;
    font: size 16px;
    margin-top: 20px;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.category-detail {
    width: 890px;
    height: 617px;
    background-color: white;
    border: 2px solid var(--main-color);
    border-radius: 12px;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    align-items: center;
}

.category-detail p {
    font-family: 'SUIT Regular', sans-serif;
    font-size: 24px;
    margin-top: -50px;
    line-height: 100px;
}

.find-honeypot-btn {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'SUIT Semibold', sans-serif;
    font-size: 20px;
}

.participation-honeypot {
    width: 100%;
    height: 105px;
    display: flex;
    align-items: center;
}

.participation-honeypot p {
    margin: 0;
    margin-left: 40px;
    font-family: 'SUIT Semibold', sans-serif;
    font-size: 20px;
}

.select_renewal {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 87px;
    height: 34px;
    border-radius: 20px;
    border: 1px solid var(--main-color);
    display: inline-block;
    background: url(/public/images/mypage/select-arrow-icon.png) no-repeat 90% 50%;
    /* border-radius: 6px; */
    background-color: #FFFFFF;
    text-align: center;
    color: var(--main-color);
    font-family: 'SUIT Semibold', sans-serif;
    font-size: 16px;
    margin-left: auto;
}

.select_renewal:focus {
    outline: none;
}

.select_renewal option {
  background: var(--main-color);
  color: #fff;
  padding: 3px 0;
  font-size: 16px;
  border: 1px solid var(--main-color);
  border-radius: 50%;
}

.search-wrapper {
    position: relative;
    display: inline-block;
    width: 311px;
    margin-left: 20px;
    margin-right: 20px;
}

.text-search {
    width: 100%;
    height: 44px;
    border-radius: 20px;
    border: 1px solid var(--main-color);
    padding-left: 20px;
    padding-right: 40px;
}

.submit-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    background: url(/public/images/mypage/search-icon.png) no-repeat center center;
    background-size: contain;
    border: none;
    cursor: pointer;
}

hr {
    border: 1px solid var(--main-color);
    width: calc(100% - 20px);
}

tr {
    display: flex;
    width: 850px;
    height: 44px;
    border-bottom: 1px solid var(--main-color);
    align-items: center;
}

.tr-title {
    background-color: var(--main-color);
}

th {
    font-family: 'SUIT Semibold', sans-serif;
    font-size: 18px;
    white-space:nowrap;
    color: white;
}
.th-category {
    width: 63px;
    margin-left: 20px
}

.th-title {
    width: 33px;
    margin-left: 180px;
    margin-right: 180px;
}

.th-meetday {
    width: 48px;
    margin-right: 90px;
}

.th-region {
    width: 63px;
    margin-right: 90px;
}

.th-members {
    width: 63px;
    margin-right: 20px;
}

td {
    font-family: 'SUIT Regular', sans-serif;
    font-size: 18px;
    white-space:nowrap;
    text-align: center;
}
.td-category {
    width: 70px;
    margin-left: 20px;
    text-align: center;
}

.td-title {
    width: 290px;
    margin-left: 50px;
    margin-right: 50px;
}

.td-meetday {
    width: 60px;
    margin-right: 90px;
}

.td-region {
    width: 63px;
    margin-right: 90px;
}

.td-members {
    width: 63px;
    margin-right: 20px;
}